/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.gradient {
    -fx-background-color:  linear-gradient(to bottom right, #e6e6fa,#e6e6fa);
}

.white-form{
    -fx-background-color: #fff;
}
.head-label {
    -fx-border-color: #e6e6fa;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}

.textfield {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #e6e6fa,#e6e6fa);
    -fx-border-width: .8px;
}
.textfield:focused {
    -fx-border-width: 1px;
}

.login-btn {
    -fx-background-color: linear-gradient(to bottom right, #e6e6fa,#e6e6fa);
    -fx-background-radius:5px;
    -fx-cursor:hand;
    -fx-text-fill: #fff;
    -fx-font-size:14px;
}
.login-btn:hover{
    -fx-background-color: #e6e6fa;
    -fx-text-fill : #000;

}
.textfield{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #e6e6fa,#e6e6fa);
    -fx-border-width:.5px;
}
.textfiled:focused{
    -fx-border-width:1px;
}

.create-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
}
.create-btn:hover {
    -fx-background-color: #e6e6fa;
    -fx-text-fill : #000;
}






















